@font-face {
    font-family: "square";
    src: url("fonts/SQR721BE.TTF");
}
html, body { height: 100%; margin-left: 0; padding: 0;}

.barra{width: 190px; background-color: gray; color: white; text-align: left; font: 16px/18px square; height: 20px; padding-top: -10px; margin-right: 20px;}
.painel{margin: 1px; padding-left: 8px;}

div{float: left; width: 32%; height: 64px; background-color: white;  border-radius: 5px; margin-left: 1%; margin-top: 3px; text-align: center; font: 12px/14px Arial; box-shadow: 2px 2px 2px #BCBCBC; border: 1px solid gray}
div img{margin: 1px;}
div div{box-shadow: 0px 0px 0px #BCBCBC; height: 48px; background-color: white; width: 44%; border: 0px}
p.text{font: 24px/24px square; padding-top: 3px}
p.text2{font: 14px/16px square; padding-top: 10px}

table{border: 1px solid gray; padding: 0px; margin-left: 1%; font: 12px/14px arial; border-collapse: collapse; width: 98%; border: 2px solid }
td{border: 1px solid gray; padding: 2px; margin: 0px;}

div.desabilitado{background-color: #E5E5E5; color: #BFBFBF}
div.desabilitado p{color: #BFBFBF}

#map {height: 100%;  width:100%}

.alerta {width: 16px;}

button{ top: 10px; right: 20px; position: absolute; width: 160px}
@media print{
	table{margin-left: 1.2cm; width: 90%}



}
